
Day1/Part01/application_test.csv
Day1/Part01/application_train.csv
Day1/Part01/bureau.csv
Day1/Part01/bureau_balance.csv
Day1/Part01/credit_card_balance.csv
Day1/Part01/example.jpg
Day1/Part01/example.mat
Day1/Part01/example.npy
Day1/Part01/example.pkl
Day1/Part01/example.txt
Day1/Part01/example01.json
Day1/Part01/example02.json
Day1/Part01/HomeCredit_columns_description.csv
Day1/Part01/installments_payments.csv
Day1/Part01/POS_CASH_balance.csv
Day1/Part01/previous_application.csv
Day1/Part01/sample_submission.csv
homework/Day_001_example_of_metrics.ipynb
homework/Day_001_HW.ipynb
homework/Day_001_HW_Peter.ipynb
homework/Part01/application_test.csv
homework/Part01/application_train.csv
homework/Part01/bureau.csv
homework/Part01/bureau_balance.csv
homework/Part01/credit_card_balance.csv
homework/Part01/example.jpg
homework/Part01/example.mat
homework/Part01/example.npy
homework/Part01/example.pkl
homework/Part01/example.txt
homework/Part01/example01.json
homework/Part01/example02.json
homework/Part01/HomeCredit_columns_description.csv
homework/Part01/installments_payments.csv
homework/Part01/POS_CASH_balance.csv
homework/Part01/previous_application.csv
homework/Part01/sample_submission.csv
Day1/Day_001_example_of_metrics.ipynb
Day1/Day_001_example_of_metrics.ipynb
